

  TextField{
    margin: 5px;
    order: 3;
    padding: 20px;
    align-content: center;
    align-self: center;
  }

  .residentsStatus{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .agenda{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

 img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: .5px solid black;
 }

 .status-details {
  display: flex;
 }