@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.sidebar {
    border: 0.5px solid #e6e3e3;
    height: calc(100vh - 70px);
    background-color: white;
    padding-right: 20px;
    /* max-width: 170px; */
    width: 170px;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    position: fixed;
}

.sidebar.collapse {
    width: 55px;
    animation: width-animation 1s ease;
}

@keyframes width-animation {
    from {
        width: 150px;
    }
    to {
        width: 55px;
    }
}

.sidebar.collapse .sidebar-title {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    font-size: 1px;
}

.sidebar.collapse .sidebar-link {
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}

.sidebar.collapse ul {
    overflow: visible;
}

.sidebar.collapse li:hover {
    background-color: #fff;
}

.sidebar a {
    text-decoration: none;
}

.sidebar .center {
    padding-left: 10px;
}

.sidebar .center ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar .center ul .sidebar-title {
    font-size: 0.85rem;
    font-weight: bold;
    color: #999;
    margin-top: 25px;
    margin-bottom: 5px;
}

.sidebar .center ul li {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.sidebar .center ul li:hover {
    background-color: #ece8ff;
}

.sidebar .center ul li .side-icon {
    font-size: 22px;
    color: #1976d2;
}

.sidebar .center ul li .sidebar-link {
    font-size: 15px;
    font-weight: 700;
    color: #888;
    margin-left: 10px;
}
