@import '../Style/google-fonts.css';

.signin-container {
    
    background-image: url(../../Assets/signin-bg.avif);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.signin-logo-container {
    padding: 40px 10px 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin-title {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 700;
}

.signin-footer {
    margin-bottom: 10px;
    font-family: 'Poppins';
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    position: relative;
    top: 30px;
    padding: 16px;
}

.signin-footer a {
    padding: 0 10px 0 0;
}
