@import url("../../utilities/styleConstants.css");
.server-error-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.server-error-card {
  border: 1px solid #ccc;
  padding: 3% 6%;
  align-items: center;
  margin: 10% 0;
  border-radius: 12px;
  background-color: var(--card-color);
  box-shadow: 10px 12px 12px black;
}

.server-error-title {
  margin: 0 0 10px;
  font-size: 3rem;
}

.server-error-title b {
    font-size: 4rem;
}

.server-error-message {
  font-size: 1.2rem;
  margin: 0 0 20px;
}

.server-error-tip {
  margin: 0;
}
