.resident-info-page .main {
    height: 100%;
    width: 100%;
    padding: 2rem 1.5rem;
    min-height: calc(100vh - 90px);
}

.resident-info-page .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.resident-info-page .cards img {
    width: 90px;
    height: 100px;
    border-radius: 50%;
}

.resident-info-page .recent-grid {
    margin-top: 3.5rem;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1260px) {
    .resident-info-page .recent-grid {
        flex-direction: column;
    }
    .resident-info-page .recent-grid .contacts {
        width: 100%;
    }
    .resident-info-page .recent-grid .card {
        height: auto;
    }
    .resident-info-page .recent-grid .appointments {
        width: 100%;
    }
}
