
.home-apartments-datatable {
    height: 350px;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 90px;
    border-radius: 10px;
}

.home-apartments-datatable .datagrid {
    margin-bottom: 50px;
}

.home-apartments-datatable .data-grid-title {
    width: 100%;
    font-size: 24px;
    color: gray;
    margin-bottom: 10px;
}

.home-apartments-datatable .data-grid-title .new-resident-link {
    margin-left: 20px;
    text-decoration: none;
    color: green;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid green;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.home-apartments-datatable .cell-with-img {
    display: flex;
    align-items: center;
}

.home-apartments-datatable .cell-with-img .cell-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.home-apartments-datatable .cellWithStatus {
    padding: 5px;
    border-radius: 5px;
}

.home-apartments-datatable .cellWithStatus.active {
    background-color: rgba(0, 128, 0, 0.05);
    color: green;
}

.home-apartments-datatable .cellWithStatus.pending {
    background-color: rgba(255, 217, 0, 0.05);
    color: goldenrod;
}

.home-apartments-datatable .cellWithStatus.passive {
    background-color: rgba(255, 0, 0, 0.05);
    color: crimson;
}

.home-apartments-datatable .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;
}

.home-apartments-datatable .cellAction .viewButton {
    padding: 2px 5px;
    border-radius: 5px;
    color: darkblue;
    border: 1px dotted rgba(0, 0, 139, 0.596);
    cursor: pointer;
    background: none;
}

.home-apartments-datatable .cellAction .deleteButton {
    padding: 2px 5px;
    border-radius: 5px;
    color: crimson;
    border: 1px dotted rgba(220, 20, 60, 0.6);
    cursor: pointer;
    background: none;
}

@media screen and (max-width: 1250px) {
    .home-apartments-datatable {
        width: 100%;
    }
}
@media screen and (max-width: 1000px) {
    .home-apartments-datatable {
        width: 700px;
        position: sticky;
        right: 0;
    }
}
@media screen and (max-width: 880px) {
    .home-apartments-datatable {
        width: 600px;
        position: sticky;
        right: 0;
    }
}
@media screen and (max-width: 740px) {
    .home-apartments-datatable {
        width: 400px;
        position: sticky;
        right: 0;
    }
}