.card {
    max-width: 75% !important ;
    margin-bottom: 8%;
}

@media(max-width: 1530px) {
    .card {
        max-width: 300px !important ;
        transition: all .5s linear;
    }
}

@media(max-width: 750px) {
    .apartments-container {
        max-width: 750px !important ;
      transition: all 1s ease-in-out;
    }
  }
