
.resident-info-card-single {
    flex: 1 0 15%;
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 2px;
    min-width: 280px;
    height: 140px;
    flex-wrap: wrap;
}

.resident-info-card-single div:last-child .icon {
    font-size: 3rem;
    color: var(--main-color);
}

.resident-info-card-single div:first-child span {
    color: var(--text-grey);
}

.resident-info-card-single:last-child {
    background: var(--main-color);
}

.resident-info-card-single:last-child h1,
.resident-info-card-single:last-child div:first-child span,
.resident-info-card-single:last-child div:last-child .icon {
    color: #fff;
}
