.resident-info-card-single {
    flex: 1 0 15%;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 2px;
    min-width: 280px;
    height: 140px;
    flex-wrap: wrap;
    border: 2px solid rgb(226, 226, 226, 0.7);
    border-radius: 10px;
}

.resident-info-card-single div:last-child .icon {
    font-size: 3rem;
    color: var(--main-color);
}

.resident-info-card-single .value {
    color: #009fbd;
    font-size: 16px;
}

.resident-info-card-single div:first-child .title {
    color: var(--text-grey);
}
