.resident-page-container {
    display: grid;
    grid-template-columns: "residentImageDetails residentMedicalAppointments";
    background-color: #0068d0;
    align-items: center;
    margin: 5% 3%;
    padding: 3%;
    border-radius: 12px;
    box-shadow: 0 2px 8px black;
}

.resident-image-details-container {
    grid-area: residentImageDetails;
}

.resident-info-image-container {
    margin: 0 5% 0 6%;
}

.resident-info-details-container {
    margin: 0 0 0 0;
}

.medical-appointment-container {
    
}
