@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}



.apartment-header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    position: relative;
}

.apartment-header-container .apartment-name {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    background: none;
    color: #000;
    font-size: 2.5rem;
}

.apartment-header-container img {
    width: 1020px;
    height: 450px;
    border-radius: 10px;
}

.apartment-header-container a {
    background: none;
}

.apartment-info {
    display: flex;
    gap: 40px;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border: 2px solid rgb(226, 226, 226, 0.7);
    padding: 20px 30px;
    width: 900px;
    border-radius: 10px;
    margin-top: -60px;
}

.apartment-info .info-item {
    border: 2px solid rgb(226, 226, 226, 0.7);
    width: 200px;
    height: 100px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
}

.apartment-info .info-item h5 {
    color: #009fbd;
}

.apartment-info .info-item p {
    font-size: 20px;
    margin-top: 5px;
    font-weight: 700;
}

.fa-map-marker {
    margin-left: 10px;
    color: #009fbd;
    background: none;
}

@media screen and (max-width: 1030px) {
    .apartment-header-container img {
        width: 900px;
    }
    .apartment-info {
        width: 800px;
    }
}

@media screen and (max-width: 930px) {
    .apartment-header-container img {
        width: 800px;
    }
    .apartment-info {
        width: 700px;
    }
}

@media screen and (max-width: 840px) {
    .apartment-header-container img {
        width: 600px;
    }
    .apartment-info {
        margin-top: 10px;
        width: 500px;
        flex-direction: column;
    }
    .apartment-info .info-item {
        width: 90%;
    }
}

@media screen and (max-width: 640px) {
    .apartment-header-container img {
        width: 500px;
        height: 400px;
    }
    .apartment-info {
        width: 400px;
        flex-direction: column;
    }
    .apartment-name {
        font-size: 25px;
    }
}
@media screen and (max-width: 560px) {
    .apartment-header-container img {
        width: 400px;
        height: 300px;
    }
    .apartment-info {
        width: 300px;
        flex-direction: column;
    }
    .apartment-name {
        font-size: 21px;
    }
}
