.main-page-container {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-areas:
      "navbar navbar"
      "sidebar main-content";
    height: 100vh;
  }
  
  .navbar-container {
    grid-area: navbar;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .sidebar-container {
    grid-area: sidebar;
    border-right: 0.5px solid #e6e3e3;
  }
  
  .main-content {
    grid-area: main-content;
  }
  
  @media (max-width: 768px) {
    .main-page-container {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "navbar-container"
        "sidebar-container"
        "main-content";
    }
  }
  