.main-page-container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas:
      "navbar navbar"
      "sidebar content";
    height: 100vh;
  }
  
  .navbar-container {
    grid-area: navbar;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 20px; */
  }
  
  .sidebar-container {
    grid-area: sidebar;
    background-color: #eee;
    /* padding: 20px; */
  }
  
  .main-content {
    grid-area: content;
    padding: 20px;
  }
  
  @media (max-width: 768px) {
    .main-page-container {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "navbar-container"
        "sidebar-container"
        "main-content";
    }
  }
  